<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="p-ab">FrontEnd Test</p>
  <p class="p-ab">by @ElianaOrmeno.<p>
</ion-content>
