// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'ComicBookItalic';
    src: url('../assets/fonts/ComicBookItalic.otf') format('opentype');
}

@font-face{
  font-family: 'HappyMonkey-Regular';
  src: url('../assets/fonts/HappyMonkey-Regular.ttf') format('truetype');
}

.searchbar-md .searchbar-input{
  font-family: 'ComicBookItalic';
}

.toolbar-background-md{
  background-color: #e82323
}

.content-md{
  //background-color: #251f80;
}

.tabs-md-primary .tabbar{
  background-color: #e82323
}

.toolbar-title-md{
  color: #ffffff;
}

.p-ab{
  color: #000;
  font-family: 'HappyMonkey-Regular';
  text-align: center;
}

.div-card{
  height: 300px;
  background-color: #251f80;
}

.card-background-page {

  ion-card {
    position: relative;
    //text-align: center;
  }

  .card-title {
    //position: absolute;
    //top: 10%;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    background-color: #251f80;
    font-family: 'ComicBookItalic';
  }
}

.card-md p{
  text-align: center;
  color: #ffffff;
  font-family: 'HappyMonkey-Regular';
}

.card-button{
  font-size: 1.0em;
  position: absolute;
  top: 85%;
  width: 100%;
  color: #fff;
  text-align: right;
}

ion-title{
  text-align: center;
  font-family: 'ComicBookItalic';
}

.detail-title{
  font-size: 1.5em;
  font-family: 'ComicBookItalic';
  text-align: center;
  padding-bottom: 10px;
}

.card-md p.detail-p-format{
  color: black;
  font-family: 'HappyMonkey-Regular';
  padding-bottom: 10px;
}

.card-md p.detail-p-desc{
  color: black;
  font-family: 'HappyMonkey-Regular';
  text-align: center;
  padding-bottom: 10px;
}

.card-md h3.h3-title{
  font-size: 1.2em;
  text-align: center;
  font-family: 'ComicBookItalic';
  text-decoration: underline;
  padding-bottom: 5px;
}

.button-md{
  font-family: 'HappyMonkey-Regular';
  background-color: #e82323
}
