<ion-header>
  <ion-navbar text-left>
    <ion-title>
      <img class="title-image" src="../../assets/img/marvel-logo.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-searchbar placeholder="Search by Title or Year" (ionInput)="getItems($event)"></ion-searchbar>

  <ion-card *ngFor="let item of items">
    <div class="div-card">
      <div class="card-title">{{ item.title }}</div>
      <p>
        <ion-icon name="ios-book-outline"> </ion-icon>
        {{item.format}}
      </p>
      <div class="card-button">
        <button ion-button item-right (click)="viewItem(item)">View</button>
      </div>
        <img *ngIf="item.thumbnail.path" src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}">
    </div>
  </ion-card>

</ion-content>
