<ion-header>
  <ion-navbar>
    <ion-title>
      Comic Detail
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}"/>
    <ion-card-content>
      <div class="detail-title">
        {{item.title}}
      </div>

      <p class="detail-p-format">
        <ion-icon name="ios-book-outline"> </ion-icon>
        Format: {{item.format}}
      </p>

      <!-- Description -->
      <h3 class="h3-title">Description:</h3>
      <p class="detail-p-desc" *ngIf="item.description == null">
          No description available.
      </p>
      <p class="detail-p-desc" *ngIf="item.description != null">
          {{item.description}}
      </p>

      <!-- Characters -->
      <h3 class="h3-title">Characters:</h3>
      <p *ngIf="item.characters.available == 0" class="detail-p-desc">
          No characters available.
      </p>
      <ion-row *ngIf="item.characters.available > 0">
            <p class="detail-p-desc" *ngFor="let character of item.characters.items">
              {{character.name}}. &nbsp;
            </p>
      </ion-row>

      <!-- Creators -->
      <h3 class="h3-title">Creators:</h3>
      <p *ngIf="item.creators.available == 0" class="detail-p-desc">
          No information available.
      </p>
      <ion-row *ngIf="item.creators.available > 0">
            <p class="detail-p-desc" *ngFor="let creator of item.creators.items">
              {{creator.name}}. &nbsp;
            </p>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
